

/* ****************** */

/*    HEADER STYLING      */

/* ****************** */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;
    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
}

.logo{
    height: 2.2rem;
}



/* ****************** */

/*    NAVIGATION LIST     */

/* ****************** */


.nav-section{
    list-style-type: none;
    display:flex;
    gap: 4.8rem;
    align-items: center;
}


.nav-list:link , .nav-list:visited{
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 1.8rem;
    font-weight: 500;
    transition: all 0.3s;
}

.nav-list:hover , .nav-list:active{
    color: #cf711f;
}

.nav-list.nav-cta:link , .nav-list.nav-cta:visited{
    color: #fff;
    padding:1.2rem 2.4rem;
    border-radius:0.9rem;
    background-color: #e67e22;
}

.nav-list.nav-cta:hover , .nav-list.nav-cta:active{
    background-color:#cf711f;
}


/* MENU STYLING  IN NAV */
.btn--mobile--nav{
    border: none;
    cursor: pointer;
    background-color: inherit;
    display: none;
}


.mobile-nav-icon{
    height: 4.8rem;
    width: 4.8rem;
    color: #333;
}


.mobile-nav-icon[name="close-outline"] {
    display: none;
}





/* STICKY NAVIGATION */

.sticky .header{
    background-color: rgba(255, 255, 255, 0.97);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 999;
    box-shadow: 0 1.2rem 3.2rem rgba(0 , 0 , 0, 0.03);
}


.sticky .hero{
    margin-top: 9.6rem;
}




/* ****************** */

/* HERO STYLING  */

/* ****************** */


.container-hero{
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    padding: 0 3.2rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 9.6rem;
 }

 .hero{
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
 }



 .hero-discription{
    font-size:2rem ;
    line-height: 1.6;
    margin-bottom: 4.8rem;
 }


.hero-imgs{
    width: 100%;
}

/* ****************** */

/* HERO SECTION BUTTON  */

/* ****************** */


.action:link , 
.action:visited{
    background-color: #e67e22;
    color: #fff;
}

.action:hover , 
.action:active{
    background-color: #cf711f;
}

.more:link , 
.more:visited{
    background-color: #fff;
    color: #555;
}

.more:hover , 
.more:active{
    background-color: #fdf2e9;
    box-shadow: inset 0 0 0 3px #fff;
}



/* ****************** */

/*   HERO SECTION CUSTOMER PHOTOS */

/* ****************** */


.customer-photos{
    display: flex;
    margin-top: 8rem;
    align-items: center;
    gap: 1.6rem;
}

.customer-imgs{
    display: flex;
    
}

.customer-imgs img{
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.2rem;
    border: 3px solid #fdf2e9;
}

.customer-imgs img:last-child{
    margin-right: 0;
}

.customer-text{
    font-size: 1.8rem;
    font-weight: 600;
}

.customer-text span{
    color: #cf711f;
    font-weight: 700;
}



/* ****************** */

/* FEATURED IN SECTION  */

/* ****************** */


.featured--in{
    padding: 4.8rem 0 3.2rem 0;
}


.featured-in-text{
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    margin-bottom: 2.4rem;
    text-align: center;
    color: #767676;
}


.featured--img{
   display: flex;
   justify-content: space-around;
   filter: brightness(0);
   opacity: 50%;
}

.featured--logo{
    height: 3.2rem;
}



/* ****************** */

/* HOW IT WORKS SECTION  */

/* ****************** */


.section-how{
    padding: 9.6rem 0;
}

.step--img-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* To add circle to the images */

.step--img-box::before ,
.step--img-box::after {
    content:"";
    position: absolute;
    display: block;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

    /* to make image appear first */
    
}

.step--img-box::before{
    width: 60%;
    /* 60% of parents width  */
    padding-bottom: 60%;
    background-color: #fdf2e9;
    z-index: -2;
}

.step--img-box::after{
    background-color: #fae5d3;
    width: 45%;
    padding-bottom:45%;
    border-radius: 50%;
    z-index:-1 ;
}




.text-box-number{
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}


.step-discription{
    line-height: 1.8;
    font-size: 1.8rem;
}

.box-img{
    width:35%;
}


/* ****************** */

/* MEALS SECTION  */

/* ****************** */

/* FOR FIRST CARD >>>>> VEGETARIAN */

.section-meal{
    padding: 9.6rem 0;
}

.meal{
    box-shadow: 0 2.4rem 4.8rem rgba(0 , 0 , 0, 0.075) ;
    border-radius: 11px;
    overflow: hidden;
}

.meal:hover{
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0 , 0 , 0, 0.06) ;
}

.meal--img{
    width: 100%;
}

.meal--content{
    padding:3.2rem 4.8rem  4.8rem 4.8rem;
}

.meal-tags{
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
}

/* GENERAL TAGS */

.tag{
    display: inline-block;
    padding:0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #333;
    border-radius: 100px;
    font-weight: 600;
}


.tag--vegetarian{
    background-color: #51cf66;
}


/* FOR SECORD CARD >>>>> VEGAN AND PALEO */

.tag--vegan{
    background-color: #94d82d;
}
.tag--paleo{
    background-color: #ffd43b;
}



.meal-title{
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 3.2rem;
}

.meal--attributes{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.meals-text{
    font-size: 1.8rem;
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

.meal-icon{
    height: 2.4rem;
    width:2.4rem ;
    color: #e67e22;
}

/* FOR MEALS LIST  */





.see--more{
    text-align: center;
    font-size: 1.8rem;
}


/* ****************** */

/* TESTIMONIAL SECTION  */

/* ****************** */

.section--testimonial{
    background-color: #fdf2e9;
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
}

.testimonial--container{
    padding: 9.6rem;
}


.testimonial--with-text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap:8rem;
}

.testimonial--img{
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}

.testimonial-words{
    line-height: 1.8;
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
}



.testimonial-name{
    font-size: 1.6rem;
    color: #6f6f6f;
}

.image-gallery img{
    display: block;
    width:100%;
    transition: all 0.4s;
}
.testimonial--gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:1.6rem;
    padding: 1.6rem;
}

.image-gallery{
    overflow: hidden;
}

/* to make images hover */
.image-gallery:hover{
    transform: scale(1.1);
}


/* ****************** */

/* PRICING SECTION  */

/* ****************** */


.section--pricing{
    padding: 9.6rem 0;
}

.plan--header{
    margin-bottom: 4.8rem;
    text-align: center;
}

.pricing--plan{
    
    border-radius: 11px;
    
    width: 75%;
}

.pricing--end{
    justify-self: end;
    padding:4.6rem ;
    border: 2px solid #fdf2e9;
}

.pricing--complete{
    background-color:#fdf2e9 ;
    padding: 4.8rem;
    position: relative;
    overflow: hidden;
}

.pricing--complete::after{
    position: absolute;
    top: 6%;
    right: -18%;
    content: "Best value";
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    padding: 0.8rem 8rem;
    color: #333;
    background-color: #ffd43b;
    transform: rotate(45deg);
    
}

.plan--name{
    color: #cf711f;
    font-size:2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.75;
    margin-bottom: 3.2rem;
}

.plan--price{
    color: #333;
    font-weight: 600;
    font-size: 6.2rem;
    margin-bottom: 1.6rem;
}

.plan--price span{
    font-size:3rem ;
    font-weight: 500;
    margin-right:0.8rem ;
}

.plan--text{
    line-height: 1.6;
    font-size: 1.6rem;
    color: #6f6f6f;
}

.plan--sign--up{
    text-align: center;
    margin-top:4.8rem ;
}

.plan--details{
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
}

.feature--title{
    font-size:2.4rem ;
    color: #333;
    font-weight: 700;
    margin-bottom: 1.6rem;
}


.feature--text{
    font-size: 1.8rem;
    line-height: 1.8;
}

.feature--icon{
    color: #e67e22;
    height: 3.2rem;
    width: 3.2rem;
    background-color: #fdf2e9;
    margin-bottom: 3.2rem;
    padding: 2.4rem;
    border-radius: 50%;
}


/* ****************** */

/* CALL TO ACTION (cta) SECTION  */

/* ****************** */


.section--cta{
    padding: 4.8rem 0 12.8rem;
}

.cta{
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* background-color: #e67e22; */
    box-shadow: 0 2.4rem 4.8rem rgba(0 , 0 , 0, 0.075) ;
    border-radius: 11px;
    background-image:linear-gradient(to right bottom,#eb984e ,#e67e22 ) ;
    overflow: hidden;
}


.cta--img--box{
    background-image:linear-gradient(to right bottom,rgba(235, 151, 78, 0.35) ,rgba(230, 125, 34, 0.35) ), url(img/eating.jpg);
    background-size: cover;
    background-position: center;
}

.cta--text--box{
    color: #45260a;
    padding:4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta--form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}

.cta .heading-tertiary{
    color: #45260a;
    margin-bottom: 3.2rem;
}

.cta-text{
    line-height: 1.8;
    font-size: 1.8rem;
    margin-bottom: 4.8rem;
}

.cta--form label{
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}


.cta--form input , .cta--form select{
    font-size: 1.8rem;
    width: 100%;
    padding: 1.2rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #fdf2e9;
    border-radius:9px;
    box-shadow: 0 1px 2px rgba(0 , 0 , 0, 0.1);
}

.cta--form input::placeholder{
    color: #aaa;
}


.cta *:focus{
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}


/* ****************** */

/* FOOTER   */

/* ****************** */


.footer{
    padding: 12.8rem 0;
    border-top: 1px solid #eee;
}

.grid--footer{
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
}

.logo--cols{
    display: flex;
    flex-direction: column;
}

.footer--logo{
    display: block;
    margin-bottom: 3.2rem;
}   


.social--links{
    list-style: none;
    display: flex;
    gap: 2.4rem;
}

.social--icon {
    height: 2.4rem;
    width: 2.4rem;
}


.copyright{
    font-size: 1.4rem;
    color: #767676;
    margin-top: auto;
}


.contacts{
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}

.address{
    margin-bottom: 3.2rem;
}
.footer--heading{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem
}

.footer--nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer--link:link , 
.footer--link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #767676;
    transition: all 0.3s;
}

.footer--link:hover , 
.footer--link:active {
    color: #555;
}
