


/* ****************** */

/* 1rem = 1em =16px in media querries  */

/*   BELOW 1344px(Smaller Desktops)     */

/* ****************** */

@media (max-width:84em){
    .container-hero{
        max-width: 120rem;
    }

    .hero-primary{
        font-size: 4.4rem;
    }

    .testimonial--gallery{
        grid-template-columns: repeat(2,1fr);
    }
}


/* ****************** */


/*   BELOW 1200px(Tablets Landscape)     */

/* ****************** */

@media (max-width:75em){
    /* 9px divided by 16 which is 0.5625 converted to percentage = 56.25% */
    html{
        font-size: 56.25%;
    }

    .grid{
        column-gap:4.8rem ;
        row-gap:6.4rem ;
    }
    .secondary-header{
        font-size: 3.6rem;
    }

    .heading-tertiary{
        font-size:2.4rem;
    }
    

    .header{
        padding: 0 3.2rem;
    }

    .container-hero{
        gap: 4.8rem;
    }

    .nav-section{
        gap: 3.2rem;
    }

    .testimonial--container{
        padding: 9.6rem 3.2rem;
    }
}



/* ****************** */


/*   BELOW 944px(Tablets )     */

/* ****************** */

@media (max-width:59em){
   /* 8px divided by 16 which is 0.5 converted to percentage =50% */
   html{
    font-size: 50%;
   }
   .container-hero{
    grid-template-columns:1fr;
    padding: 0 8rem;
    gap: 6.4rem;
   }
    
   .hero-imgs{
    width: 60%;
   }

   .hero-img , .hero--title {
    text-align: center;
   }

   .customer-photos{
    justify-content: center;
    margin-top: 3.2rem;
   }

   .featured--logo{
    height: 2.4rem;
   }

   .text-box-number{
    font-size: 7.4rem;
   }

   .meal--content{
    padding:2.4rem 3.2rem 3.2rem 2.4rem;
   }

   .section--testimonial{
    grid-template-columns: 1fr;
   }

   .testimonial--gallery{
    grid-template-columns: repeat(6,1fr);
   }

   .cta{
    grid-template-columns: 3fr 2fr;
   }

   .cta--form{
    grid-template-columns:1fr;
   }

   .btn--form{
    margin-top: 1.2rem;
   }

   /* MOBILE NAV */

   .btn--mobile--nav{
    display: block;
    z-index: 999;
   }

   .main-navigation{
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in;

    /* (step 1) ----hide it visually  */
    opacity: 0;

    /* step 2--- to make it unaccessible to pointers and keyboards tab  */

    pointer-events: none;


    /* step 3--- hide from screen readers */
    visibility: hidden;
   }


   .nav--open .main-navigation {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
   }

   .nav--open .mobile-nav-icon[name="close-outline"]{
    display: block;
   }


   .nav--open .mobile-nav-icon[name="menu-outline"]{
    display: none;
   }


   .nav-section{
    flex-direction: column;
    gap: 4.8rem;

   }

   .nav-list:link , .nav-list:visited{
    font-size: 3rem;
   }

}


/* ****************** */


/*   BELOW 704px( Smaller Tablets )     */

/* ****************** */

@media (max-width:44em){

    .grid--3--cols ,.grid--4--cols{
        grid-template-columns: repeat(2, 1fr);
    }

    .diets{
        grid-column: 1 / -1;
        justify-self: center;
    }

    .secondary-header{
        margin-bottom: 4.8rem;
    }

    .pricing--plan{
        width: 100%;
    }

    .grid--footer{
        grid-template-columns:repeat(6 , 1fr);
    }

    .nav--cols{
        grid-row: 1;
        grid-column: span 2;
        margin-bottom: 3.2rem;
    }

    .logo--cols, .address--cols{
        grid-column: span 3;
    }
}



/* ****************** */


/*   BELOW 544px( phones )     */

/* ****************** */

@media (max-width:34em){
    .grid{
        row-gap:4.8rem;
    }

    .grid--2--cols , .grid--3--cols ,.grid--4--cols{
        grid-template-columns: 1fr;
    }

    .container-hero{
        padding: 0 3.2rem;
    }

    .hero{
        padding: 2.4rem 0 6.4rem 0;
    }

    .btn, .btn:link , .btn:visited{
        padding: 2.4rem 1.6rem;
    }

    .hero-imgs{
        width: 80%;
    }

    .featured--logo{
        height: 1.2rem;
    }

    .step--img-box:nth-child(2){
        grid-row: 1;
    }


    .step--img-box:nth-child(6){
        grid-row: 5;
    }

    .step--img-box{
        transform: translateY(2.4rem);
    }

    .testimonial--with-text{
        grid-template-columns: 1fr;
    }

    .testimonial--gallery{
        grid-template-columns: repeat(4,1fr);
        gap: 1.2rem;
    }

    .cta{
        grid-template-columns: 1fr;
    }

    .cta--img--box{
        height: 32rem;
        grid-row: 1;
    }

    .cta--text--box{
        padding: 3.2rem;
    }
}



/* ****************** */


/* FIXING SAFARI FLEXBOX GAP */

/* ****************** */

.no-flexbox-gap .nav-section li:not(:last-child) {
    margin-right: 4.8rem;
  }
  
  .no-flexbox-gap .list-items:not(:last-child) {
    margin-bottom: 1.6rem;
  }
  
  .no-flexbox-gap .list-icon:not(:last-child) {
    margin-right: 1.6rem;
  }
  
  .no-flexbox-gap .delivered-faces {
    margin-right: 1.6rem;
  }
  
  .no-flexbox-gap .meals-text:not(:last-child) {
    margin-bottom: 2rem;
  }
  
  .no-flexbox-gap .meal-icon {
    margin-right: 1.6rem;
  }
  
  .no-flexbox-gap .footer-row div:not(:last-child) {
    margin-right: 6.4rem;
  }
  
  .no-flexbox-gap .social--links li:not(:last-child) {
    margin-right: 2.4rem;
  }
  
  .no-flexbox-gap .footer-nav li:not(:last-child) {
    margin-bottom: 2.4rem;
  }
  
  @media (max-width: 75em) {
    .no-flexbox-gap .nav-section li:not(:last-child) {
      margin-right: 3.2rem;
    }
  }
  
  @media (max-width: 59em) {
    .no-flexbox-gap .nav-section li:not(:last-child) {
      margin-right: 0;
      margin-bottom: 4.8rem;
    }
  }